body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display: flex;
    padding: 10px;
    background-color: lightgray;
    margin: 10px;
    border-radius: 10px;
}

.assignment img :hover{
    width: 200px;
    margin: 10px;
    border: 10px solid darkred;
}

h1{
    color: darkblue;
    text-align: center;
}

a{
    text-decoration: none;
    color:darkred
}

a:hover{
    color: deeppink;
}